* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /* background: linear-gradient(0deg, rgba(0, 83, 74, 1) 0%, rgba(0, 106, 69, 1) 51%, rgba(0, 83, 74, 1) 100%); */
    background:url(https://w.forfun.com/fetch/f4/f40a7a00292bb500a70b718370e58e17.jpeg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:105vw 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.clicker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5em solid rgba(145, 159, 207, 0.404);
    background: rgba(255, 255, 255, 0);
    border-radius: 25px;
    width: 50%;
    height: 20%;
    transition:all 1s;
    user-select: none;
}

.clicker:hover{
    cursor:crosshair;
}
.media{
    font-size: 50px;
}